
<h4><%= "Título: "%>
<%= @study_item.title %></h4> 

<h5><%= "Categoria: "%> 
<%= @study_item.category %></h5>

<h5><%= "Descrição: " %> 
<%= @study_item.description %></h5>

<%= link_to 'Início', root_path %>

