<% if flash[:notice] %>
  <div class= "alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>






<p><h4><%= "Título: "%>
<%= @study_item.title %></h4></p><br>


<p><h5><%= "Categoria: "%> 
<%= @study_item.category.nome%></h5></p><br>

<p><h5><%= "Descrição: " %>
<%= @study_item.description %></h5></p><br>

<p><h5><%= "Comentários: " %>
<% @study_item.comments.each do |comment| %></h5></p>
  <p>
    <strong>Comentário:</strong>
    <%= comment.body %>
  </p>
<% end %><br>

<p><h5><%= "Prazo de conclusão: " %>
<%= @study_item.deadline%></h5></p>

<% if @study_item.finished? %>
  <p><h5>Status: Concluído em <%= @study_item.finished_at.strftime('%d/%m/%y') %></h5></p>
<% else %>
  <div class= "d-grid gap2 d-md-flex justify-content-md-end">
  <%= button_to 'Concluído✅', mark_as_done_study_item_path(@study_item),method: :post, 
                                                              class: "btn btn-success" %>
</div>  
<% end %>



</br></br>
<h4>Inserir um comentário</h4>
<%= form_with model: [@study_item, @study_item.comments.build] do |f| %>
  <p> 
    <div class="form-group"
      <%= f.label :comentário %><br>
      <%= f.text_area :body, class: "form-control", rows: 4 %>
    </div>
  </p>
 
 <p>
   <%= f.submit "Comentar Item", class:"btn btn-primary" %>
 </p>
 <% end %>

<div class= "d-grid gap2 d-md-flex justify-content-md-end">
    <%= link_to 'Voltar', study_items_all_path, class: "btn btn-primary" %>
</div>




